# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database files
*.db
*.sqlite3
data/apix.db
data/raw/diagnostics/

# IDEs & OS artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
